.acctdet {
    margin: 0 auto;
    width: 90%;
    margin-top: 100px;
}
table {
  width: 100%;
  margin: 0 auto;
  
}
.tabdiv {
  margin: 0 auto;
  width: 92%;
}
.tabbutton{
  padding: 5px;
  text-align: right;
}
