
<mat-card class="acctdet" >
  <div>
    <label>Name :</label> {{user.firstName}} {{user.middleName}} {{user.lastName}}
  </div>
  <div>
    <label>{{account.type}} Account Number :</label> {{account._id}}
  </div>
  <div>
    <label>Balance : </label>
    <ng-container *ngIf="account.balance?.amount">{{account.balance.amount | currency : 'INR' }}</ng-container>
<a *ngIf="!account.balance?.amount" class="arrow" style="cursor: pointer" (click)="openBalanceModal('700ms','500ms')"><i class="fa fa-plus"></i>Add</a>    
</div>
</mat-card>
<div class="acctdet" style="display:none" >
<ng-container *ngIf="transactions.length!=0">
  <table class="table">
    <thead>
      <tr>
        <th>
          <label>Ref Number</label>
        </th>
        <th>
          <label>Date</label>
        </th>
        <th>
          <label>Credit</label>
        </th>
        <th>
          <label>Debit</label>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trans of transactions">
        <td style="text-align: center;">
          {{trans._id}}
        </td>
        <td  style="text-align: center;">
          {{trans.createdAt | date:'dd/MM/yyyy HH:mm:ss'}}
        </td>
        <td style="text-align: right;">
          <p *ngIf="trans.type=='CREDIT'" else elseTemplate>
            {{trans.amount | currency : 'INR' }}
          </p>
        </td>
        <td style="text-align: right;">
          <p *ngIf="trans.type=='DEBIT'">
            {{trans.amount | currency : 'INR' }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
</div>

<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <a *ngIf="account.balance?.amount" class="arrow" style="cursor: pointer" (click)="openTransactionModal('700ms','500ms')"><i class="fa fa-plus"></i>Add Transaction</a>    
  </div>
<table mat-table matsort [dataSource]="transactions" class="mat-elevation-z8" *ngIf="transactions.length!=0">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ref Number</th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy hh:mm:ss'}} </td>
  </ng-container>


  <ng-container matColumnDef="credit" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Credit</th>
    <td mat-cell *matCellDef="let element" > <p *ngIf="element.type=='CREDIT'">{{element.amount| currency : 'INR'}} </p></td>
  </ng-container>
  <ng-container matColumnDef="debit" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Debit</th>
    <td mat-cell *matCellDef="let element" > <p *ngIf="element.type=='DEBIT'">{{element.amount| currency : 'INR'}} </p></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

























<div class="modal" id="balanceModal" tabindex="0" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form (ngSubmit)="balancesave()" role="form" class="well" ng-hide="ifSearchUser">
        <div class="modal-header">
          <h4 class="modal-title">Add Balance</h4>
          <button type="button" class="close" aria-label="Close" (click)="balanceModalclose()"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Amount</label>
            <input type="text" class="form-control form-control-sm" id="amount" [(ngModel)]="balance.amount"
              name="amount">
            <label>Currency</label>
            <input type="text" class="form-control form-control-sm" id="currency" [(ngModel)]="balance.currency"
              name="currency">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-default" (click)="balanceModalclose()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="transactionModal" tabindex="0" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form (ngSubmit)="transactionsave()" role="form" class="well" ng-hide="ifSearchUser">
        <div class="modal-header">
          <h4 class="modal-title">Add Transaction</h4>
          <button type="button" class="close" aria-label="Close" (click)="transactionModalclose()"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Transaction Type</label>
            <input type="text" class="form-control form-control-sm" id="type" [(ngModel)]="transaction.type"
              name="type">
            <label>Amount</label>
            <input type="text" class="form-control form-control-sm" id="Amount" [(ngModel)]="transaction.amount"
              name="amount">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-default" (click)="transactionModalclose()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
