
<mat-card class="acctdet" >
  <div>
    <label>Name :</label> {{user.firstName}} {{user.middleName}} {{user.lastName}}
  </div>
  <div>
    <label>{{account.type}} Account Number :</label> {{account._id}}
  </div>
  <div>
    <label>Balance : </label>
    <ng-container *ngIf="account.balance?.amount">{{account.balance.amount | currency : 'INR' }}</ng-container>
<a *ngIf="!account.balance?.amount" class="arrow" style="cursor: pointer" (click)="openBalanceModal('700ms','500ms')"><i class="fa fa-plus"></i>Add</a>    
</div>
</mat-card>

<div class="tabdiv" fxLayout="row" fxLayoutAlign="center center">
<div class="tabbutton">
  <button class="transactionbtn" *ngIf="account.balance?.amount"  mat-raised-button color="primary" (click)="openTransactionModal('700ms','500ms')">Add Transaction</button>
</div>
<table mat-table matsort [dataSource]="transactions" class="mat-elevation-z8" *ngIf="transactions.length!=0">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ref Number</th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy hh:mm:ss'}} </td>
  </ng-container>


  <ng-container matColumnDef="credit" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Credit</th>
    <td mat-cell *matCellDef="let element" > <p *ngIf="element.type=='CREDIT'">{{element.amount| currency : 'INR'}} </p></td>
  </ng-container>
  <ng-container matColumnDef="debit" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Debit</th>
    <td mat-cell *matCellDef="let element" > <p *ngIf="element.type=='DEBIT'">{{element.amount| currency : 'INR'}} </p></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>