
<mat-toolbar class="app-header">
  <div>
    <a href="#"><img [src] ="imageSrc" class="header-img" /></a>
    <a href="#" class="positronx">Maveric Bank App</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="signup" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <img [src] ="imageSrc1" class="footer-img" width="90px"/>
    <span>  Copyrights &copy; 2022 Maveric Systems Limited</span>
  </div>
</footer>