<h2 mat-dialog-title>New Balance</h2>
<form (ngSubmit)="balancesave()">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput type="number" placeholder="Amount" [(ngModel)]="balance.amount" name="amount">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select [(value)]="balance.currency">
                <mat-option value="INR">INR</mat-option>
                <mat-option value="DOLLAR">DOLLAR</mat-option>
                <mat-option value="EURO">EURO</mat-option>
              </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
      <button type="button"  mat-raised-button (click)="onNoClick()" mat-dialog-close>Close</button>
      <button type="submit" color="primary" mat-raised-button  cdkFocusInitial>Save</button>
    </div>
</form>