<h2 mat-dialog-title>New Transaction</h2>
<form (ngSubmit)="transactionsave()">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Transaction Type</mat-label>
            <mat-select [(value)]="transaction.type">
                <mat-option value="CREDIT">CREDIT</mat-option>
                <mat-option value="DEBIT">DEBIT</mat-option>
              </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput type="number" placeholder="Amount" [(ngModel)]="transaction.amount" name="amount">
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
      <button type="button"  mat-raised-button (click)="onNoClick()" mat-dialog-close>Close</button>
      <button type="submit" color="primary" mat-raised-button  cdkFocusInitial>Save</button>
    </div>
</form>